.homeContainer{
  background-image: url(./assets/img/msnbg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.whiteBorderGlassBox {
  border: 2px solid rgba(255, 255, 255, 0.75);
  padding: 8px;
}
.homeHeadContainer {
  background-color: rgba(255, 255, 255, 0.50);
}
.whiteContainerPadded {
  padding: 15px;
  background-color: #feffff;
}
.avatarFrameonline {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ff6b+0,81ff3d+50,0cff00+51,0dbc03+100 */
  background: #d2ff6b; /* Old browsers */
  background: -moz-linear-gradient(top, #d2ff6b 0%, #81ff3d 50%, #0cff00 51%, #0dbc03 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d2ff6b 0%,#81ff3d 50%,#0cff00 51%,#0dbc03 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d2ff6b 0%,#81ff3d 50%,#0cff00 51%,#0dbc03 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff6b', endColorstr='#0dbc03',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
.avatarFrameoffline {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eae5e5+45,c1bdbd+47,bab6b6+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bab6b6',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
.avatarFrameaway {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
.avatarFramebusy {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff926b+0,ff5a3d+50,ff0000+51,c10303+100 */
  background: #ff926b; /* Old browsers */
  background: -moz-linear-gradient(top, #ff926b 0%, #ff5a3d 50%, #ff0000 51%, #c10303 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff926b 0%,#ff5a3d 50%,#ff0000 51%,#c10303 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff926b 0%,#ff5a3d 50%,#ff0000 51%,#c10303 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff926b', endColorstr='#c10303',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
.avatarFrameappear_offline {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eae5e5+45,c1bdbd+47,bab6b6+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bab6b6',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
#homeAvatarPicture {
  max-width: 100px;
}
.whiteContainerPadded {
  padding: 15px;
  background-color: #feffff;
}
.marbo15 {
  margin-bottom: 15px;
}
.marbo45 {
  margin-bottom: 45px;
}
.marto15 {
  margin-top: 15px;
}
.marto45 {
  margin-top: 45px;
}
.marbo5 {
  margin-bottom: 5px;
}
.marto5 {
  margin-top: 5px;
}
.form-control {
  border: 2px solid #ced4da;
  border-radius: 0;
}
img.icon {
  width: 30px;
}
.whiteColor {
  color: white !important;
}
.contact-list-item > .status {
  width: 20px;
  margin-right: 15px;
}
.contact-list-item {
  margin-bottom: 3px;
  cursor: pointer;
}
#conversationMenuContainer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8dd2f3+0,43b5eb+50,39abe1+51,3cb2ea+100 */
  background: #8dd2f3; /* Old browsers */
  background: -moz-linear-gradient(top, #8dd2f3 0%, #43b5eb 50%, #39abe1 51%, #3cb2ea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8dd2f3 0%,#43b5eb 50%,#39abe1 51%,#3cb2ea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8dd2f3 0%,#43b5eb 50%,#39abe1 51%,#3cb2ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dd2f3', endColorstr='#3cb2ea',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0px 15px 15px -4px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 15px 15px -4px rgba(0,0,0,0.24);
  box-shadow: 0px 15px 15px -4px rgba(0,0,0,0.24);
  position: fixed;
  width: 100%;
  z-index: 9;
  height: 56px;
  top: 0px;
  border-top: 1px solid white;
}
.branding {
  padding: 5px !important;
  border-top: none !important;
  border-right: none !important;
}
#conversationMenuContainer > .item {
  padding: 15px;
  color: white;
  cursor: default;
  border: 1px solid rgba(255, 255, 255, 0.33);
  display: inline-block;
}
#conversationMenuContainer > .item > img {
  height: 40px;
}
.generalContent {
  margin-top: 56px;
}
.loginContainer{
  background-image: url(./assets/img/msnbg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.center {
  text-align: center !important;
}
.borderedContainer {
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 4px;
}
.grayButton {
  min-width: 100px;
  border-radius: 6px;
  margin-top: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,eaeaea+50,e5e5e5+51,bab6b6+100 */
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 50%, #e5e5e5 51%, #bab6b6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#eaeaea 50%,#e5e5e5 51%,#bab6b6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f7f7 0%,#eaeaea 50%,#e5e5e5 51%,#bab6b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#bab6b6',GradientType=0 ); /* IE6-9 */
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
  background: #f2f6f8; /* Old browsers */
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #b5c6d0;
}
